# File: .gitignore
# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Environment variables
.env
.env.*
!/.env.example

# IDE settings
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db